* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
}

/* ei font-size diye joto pixel dorkar take vag kore rem pabo
percent use korechi zoom in out er khetre. pixel tahkleo hoy. tobe kono kono browser e
somossa korte pare tai */
html {
    font-size: 62.5%;
}

ul li {
    list-style: none;
}

/* heading */
h1 {
    font-size: 4.2rem;
    color: #fff;
}

/* reusable component */
/* Button */
.btn:link,
.btn:visited,
.btn {
    background-color: #333;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.row {
    max-width: 114rem;
    margin: auto;
}

/* header section */
header {
    /* background: #87509c; */
    background: linear-gradient(rgba(135, 80, 156, 0.888), rgba(135, 80, 156, 0.911)), url('../bg-img/pexels-sevenstorm-juhaszimrus-443383.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 85vh;
    position: relative;
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

/* main navigation */
.main-nav {
    float: right;
    margin-top: 4rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 1rem;
    padding: .6rem 1.6rem;
    border-radius: .4rem;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
}

.main-nav li:hover {
    background-color: #643a79;
    transition: .3s;
}

.active {
    background-color: #643a79;
}

.main-nav li a:link {}

.main-nav li a:visited {}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
    background: #eb7d4b;
    border-color: #c86a40;
    font-size: 1.6rem;
}